<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="view port" content="width=device-width,inital-scale=1.0">
    <title>Seven Wonders Of The Ancient World</title>
    <link rel="stylesheet" href="../Css/Earth.css">
</head>

<body>
    <div class="earth">
        <div></div>
    </div>
    <div class="label"> <em>The Earth</em> </div>

    <div class="mm">
        <img src="../../Assets/Stars.jpeg">
    </div>

    <div class="country1" >
        <a class="country2" style=" top:40%;left:30%;width:20%;height:15%;"  href="The%20Great%20Pyramid.html"></a>
        <a class="country2" style=" top:20%;left:40%;width:30%;height:25%;" href="Colossus%20of%20Rhodes.html"></a>
        <a class="country2" style=" top:30%;left:60%;width:15%;height:30%;" href="The%20Hanging%20Gardens%20of%20Babylon.html"></a>
        <a class="country2" style=" top:70%;left:40%;width:30%;height:45%;" href="Temple%20of%20Artemis.html"></a>
    </div>



</body>

</html>